body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffbd59;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #ffde59;
    position: absolute;
    width: 100%;
    top: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
header h1 {
    margin: 0;
    margin-left: 100px;
}
.form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: auto;
    background-color: #ffde59;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.search-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-area label {
    margin-top: 30px;
    margin-bottom: 10px;
}
.input-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.input-range,
.input-keyword {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
#range,
#keyword {
    border: none;
    width: 300px;
    height: 40px;
    padding: 0px 8px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 10px;
}
.search-button {
    width: 300px;
    border: none;
    background-color: #ff914d;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    margin: 30px 0px 30px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
.search-button:hover {
    background-color: #ff7243;
}
.account {
    display: flex;
    margin: 0;
    margin-right: 50px;
}
.account-link {
    text-decoration: none;
    color: #333;
    margin: 0px 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown .user {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff914d;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    line-height: 20px;
    white-space: nowrap;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1000;
    padding: 0;
    margin: 0;
}
.dropdown-menu li {
    list-style: none;
}
.dropdown-menu li a {
    text-decoration: none;
    color: #333;
    display: block;
    transition: background-color 0.3s ease;
    padding: 20px 30px;
}
.dropdown-menu li a:hover {
    background-color: #f0f0f0;
}
hr {
    width: 90%;
    height: 2px;
    margin: 0;
    background-color: #ffbd59;
    border: none;
}
.tippy-box[data-theme="my-custom-theme"] {
    background-color: #fff;
    color: #000;
}
.tippy-box[data-theme="my-custom-theme"] .tippy-arrow {
    color: #fff;
}
footer {
    text-align: center;
    background-color: #ffde59;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
footer a {
    color: #007bff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gatyaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.capsuleBoxHead {
    width: 290px;
    height: 30px;
    border: 2px solid #000000;
    background-color: #ff914d;
    border-radius: 10px;
}

.capsuleBoxBody {
    width: 280px;
    height: 300px;
    border: 2px solid #000000;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capsuleBoxBody span {
    width: 220px;
    height: 250px;
    background-color: #eeeeee;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gacha-machine {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #ff914d;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    overflow: hidden;
}

.handle-container {
    position: absolute;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handle {
    width: 100px;
    height: 20px;
    background-color: #eeeeee;
    border: 2px solid #000000;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    transform: rotate(0deg);
    z-index: 2;
}

.handle::after {
    content: "";
    width: 100px;
    height: 100px;
    background-image: url("handle.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;
    left: -40px;
    transform: rotate(-90deg);
    z-index: 1;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #333;
    position: absolute;
    background-color: #ffffff;
}

.exit {
    width: 80px;
    height: 150px;
    background-color: #1d1d1d;
    position: absolute;
    top: calc(100% - 75px);
    left: calc(50% - 40px);
    z-index: 2;
    border-radius: 10px;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 189, 89, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}
